@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    color : #111111;
    line-height: 2.0;
}

a {
    text-decoration: none;
}

img {
    max-width: 20%;
}

#root {
    background-image: url("http://www.w3.org/2000/svg");
}

/* header */



/* article */
.sc-introduce {
    width : 90%;
    order : 2;
    padding : 0 20px;
}


/* footer */
footer {
    background-color: #111111;
    text-align: center;
    padding : 26px 0;
}

footer p {
    color: #ced4da;
    font-size: 70%;
}